# For loop

In [1]:
lst = [10, 20, 30, 40, 50]
print(lst)

[10, 20, 30, 40, 50]

In [2]:
for i in lst:
    print(i)

10
20
30
40
50

In [4]:
50 in [10, 20, 30, 40, 50]

True

In [5]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [6]:
range(0, 10)

range(0, 10)

In [7]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(0, 10):
    print(i)
    if i == 3:
        break
print('End of For')

0
1
2
3
End of For

In [11]:
for i in range(0, 10):
    if i == 3:
        break
    print(i)
print('End of For')

0
1
2
End of For

In [12]:
for i in range(0, 10):
    if i == 3:
        continue
    print(i)
print('End of for')

0
1
2
4
5
6
7
8
9
End of for

In [15]:
for i in range(0, 10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [21]:
for i in range(0, 10):
    if i % 2 != 0:
        continue
    print(i)

0
2
4
6
8

In [16]:
x = 123
for i in x:
    print(i)

TypeError: 'int' object is not iterable

In [17]:
type(x)

int

In [18]:
for i in (10, 20, 30, 40):
    print(i)

10
20
30
40

In [19]:
fruits = ['Apple', 'Banana', 'Cherry']
for i in fruits:
    print(i)

Apple
Banana
Cherry

## for - else loop

In [22]:
for i in range(6):
    print(i)
else:
    print('We have exited the for loop')

0
1
2
3
4
5
We have exited the for loop

In [23]:
for i in range(6):
    print(i)
print('We have exited the for loop')

0
1
2
3
4
5
We have exited the for loop

In [26]:
x = ['ab', 'cd']
print(x)

['ab', 'cd']

In [27]:
x = ['ab', 'cd']
for i in x:
    i.upper()
print(x)

['ab', 'cd']

In [28]:
for i in range(5):
    print(i, 'is less than 5')
else:
    print(i, 'is not less than 5')

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
4 is not less than 5

In [ ]:
i = 0
while i < 5:
    print(i)
    i = i + 1

## Nested Loops

In [37]:
for i in range(3):
    print('i =', i)

    for j in range(3):
        print('j =', j)
    print()

i = 0
j = 0
j = 1
j = 2

i = 1
j = 0
j = 1
j = 2

i = 2
j = 0
j = 1
j = 2

In [39]:
for i in range(3):
    for j in range(3):
        print(j)

0
1
2
0
1
2
0
1
2

In [46]:
lst = [10, 20, 30, 40]
for i in lst:
    print(lst.index(i), i)

0 10
1 20
2 30
3 40

In [47]:
for i, v in enumerate(lst):
    print(i,v)

0 10
1 20
2 30
3 40

In [48]:
l1 = [25, 35, 85, 75, 95]
for x,y in enumerate(l1):
    print(x, y)

0 25
1 35
2 85
3 75
4 95

## Adding the elements of the list

In [49]:
values = [1,3,5,7]
total = 0
for i in values:
    total = total + i
print(total)

16

In [50]:
d = {0 : 'a', 1 : 'b', 2 : 'c'}
for i in d:
    print(i)

0
1
2

In [51]:
d = {0 : 'a', 1 : 'b', 2 : 'c'}
for i in d.items():
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')

In [52]:
d = {0 : 'a', 1 : 'b', 2 : 'c'}
for i in d.keys():
    print(i)

0
1
2

In [53]:
d = {0 : 'a', 1 : 'b', 2 : 'c'}
for i in d.values():
    print(i)

a
b
c

## Nested loops

In [55]:
for i in range(3):
    for j in range(3):
        print(j)
    print()

0
1
2

0
1
2

0
1
2

In [57]:
x = 0
while x < 3:
    y = 0
    while y < 3:
        print(y)
        y = y + 1
    x = x + 1
    print()

0
1
2

0
1
2

0
1
2

In [58]:
x = 0
y = 0
while x < 3:
    while y < 3:
        print(y)
        y = y + 1
    x = x + 1
    print()

0
1
2

In [59]:
4 + 5

9

In [60]:
10 + 20

30

In [61]:
30 + 40

70

In [62]:
def add(a, b):
    return a + b

In [63]:
add(10, 20)

30

In [64]:
add(100, 200)

300

In [65]:
type(lst)

list

In [66]:
print(lst)

[10, 20, 30, 40]

In [67]:
len(lst)

4