## Variable Keyword Arguements

- keyword arguements are always specified as **kwargs while defining the function.
- kwargs are stored a dictionary

In [2]:
def func(**kwargs):
    print(kwargs)
    print(type(kwargs))
    
func(a = 1, b =2)

{'a': 1, 'b': 2}
<class 'dict'>

In [3]:
func(a = 1, b = 2, c = 3, d = 4)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
<class 'dict'>

In [23]:
## Keyword Arguement

def func1(a, b, c):
    print(a, b, c)
    
func1(c = 4, b = 1, a = 5)

5 1 4

In [7]:
func(**{'a' : 1, 'b' : 42})

{'a': 1, 'b': 42}
<class 'dict'>

In [8]:
func(**dict(a = 1, b = 42))

{'a': 1, 'b': 42}
<class 'dict'>

## Keyword Only Arguement

In [15]:
def kwo(*a, c):
    print(a, c)

kwo(1,2,3,4, 5, c= 7)

(1, 2, 3, 4, 5) 7

In [21]:
##  positional arguements

def func(a, b, c):
    print(a, b, c)

func(10, 20, 30)

10 20 30

In [13]:
## Variable positional arguement
def func(*a):
    print(a)

func(10, 20, 30, 40, 50, 60)

(10, 20, 30, 40, 50, 60)

In [16]:
def kwo(*a, c):
    print(a, c)

kwo(1,2,3,4, 5, c= 7)

(1, 2, 3, 4, 5) 7

In [18]:
kwo(c = 7)

() 7

In [20]:
kwo(9, c=11)

(9,) 11

## Default Parameter

- uses the default value to print in the output when the user does not specify anything while calling the function.
- If the user provides a different value then the user provided value is considered and not the default value.

In [24]:
def my_func(country = 'India'):
    print(country)

In [25]:
my_func('Norway')

Norway

In [26]:
my_func('China')

China

In [27]:
my_func()

India

## Return values of a function

- using the return keyword you are returning a value back to the function.
- if no return keyword is used the default return value in python is none.

In [28]:
def my_func(country):
    print(country)
    
my_func('Europe')

Europe

In [29]:
def my_func(country):
    return country
    
my_func('Europe')

'Europe'

In [30]:
def my_function(x):
    return x * 5

my_function(3)

15

In [31]:
my_function(5)

25

In [32]:
def my_function(x):
    print(x*5) 

my_function(3)

15

## Returning multiple values from the function

In [34]:
def my_function(a, b):
    x = a + b
    y = a - b
    z = a * b
    return (x,y,z)

my_function(10, 3)

(13, 7, 30)