## Type Conversion

1. Implicit Type Conversion
2. Explicit Type Conversion

In [1]:
a = 15
print(a)

15

In [2]:
type(a)

int

In [3]:
b = float(a)
print(b)

15.0

In [4]:
type(b)

float

In [5]:
a = 75.67
print(a)

75.67

In [6]:
type(a)

float

In [7]:
b = int(a)
print(b)
type(b)

75

int

In [8]:
a = 18
b = 79.45
print(a)
print(b)

18
79.45

In [12]:
c = str(a)
d = str(b)
c

'18'

In [11]:
d

'79.45'

In [13]:
type(c)

str

In [14]:
type(d)

str

In [17]:
x = '123412'
x

'123412'

In [19]:
y = int(x)
z = float(x)
print(y)
print(z)
type(z)

123412
123412.0

float

In [20]:
type(y)

int

In [21]:
s = 'anant'
print(s)

anant

In [22]:
s1 = int(s)
print(s1)

ValueError: invalid literal for int() with base 10: 'anant'

In [23]:
s2 = float(s)
print(s2)

ValueError: could not convert string to float: 'anant'

In [24]:
lst = [1,2,3,4]
tup = tuple(lst)
print(tup)

(1, 2, 3, 4)

In [27]:
int('7.1')

ValueError: invalid literal for int() with base 10: '7.1'

In [28]:
int(7.7)

7

## Implicit type conversion

In [30]:
import numpy as np
arr = np.array(['anant' , 10, 105.35, 'anil', 35, 65.25])
arr

array(['anant', '10', '105.35', 'anil', '35', '65.25'], dtype='<U32')

## Operators

1. Arithematic 
2. Comparison
3. Membership
4. Identity
5. Assignment 
6. Bitwise
7. Logical

## Arithematic operators

- +(Addtion)
- -(Subtraction)
- *(multiplication)
- /(Division). Note: Will always give the output in a floating value
- //(floor Division). Note : Will always give the output in a integer value
- ** (Power/Exponent)
- % (Reminder)

In [31]:
10 + 50

60

In [32]:
print(10 + 50)

60

In [1]:
105.45 + 405.98

511.43

In [2]:
978.85 - 752.32

226.52999999999997

In [35]:
98-52

46

In [36]:
25 * 3

75

In [37]:
75/5

15.0

In [38]:
10/3

3.3333333333333335

In [39]:
75 // 5

15

In [40]:
a = 75 / 5
print(a)
type(a)

15.0

float

In [3]:
b = 75 // 5
print(b)
type(b)

15

int

In [4]:
5 ** 2

25

In [5]:
25 ** (1/2)

5.0

In [6]:
25 ** (1//2)

1

In [7]:
1 // 2

0

In [8]:
10 / 3

3.3333333333333335

In [50]:
10 % 3

1

## Comparison Operators

1. (==) (Equal to)
2. (!=) (Not Equal to)
3. (>) (Greater than)
4. (<) (Less than)
5. (>=) ( Greater than equal to). Note: Here the order of operator is important. (>= is not same as =>)
6. (<=) (Less than equal to). Note: Here the order of operator is important. (<= is not same as =<)

- The output of a comparison operator will always be a boolean

In [51]:
10 == 10

True

In [52]:
5 == 10

False

In [53]:
5 != 10

True

In [54]:
10 != 10

False

In [55]:
10 > 5

True

In [56]:
10 > 20

False

In [57]:
5 < 10

True

In [58]:
10 < 5

False

In [59]:
10 >= 10

True

In [61]:
5 <= 5

True

In [63]:
10 <> 10

SyntaxError: invalid syntax (3951611029.py, line 1)

In [62]:
10 <> 20

SyntaxError: invalid syntax (4273781198.py, line 1)

## Assignment Operators

1. = (Assigning a value)
2. += (add and then assign a value)
3. -= (Subtract and then assign a value)
4. *= (Multiply and then assign a value)
5. /= (Divide and then assign a value)
6. //= (interger divide and then assign a value)
7. **= (calculate the power and then assign a value)
8. %= (calc the reminder and assign a value)

In [64]:
a = 10
print(a)

10

In [65]:
a = 20
a += 10

In [66]:
print(a)

30

In [67]:
a = 20
a += 10
print(a)

30

In [68]:
a = 20
a = a + 10
print(a)

30

In [70]:
a = 50
a -= 30
a

20

In [71]:
a = 50
a = a -30
a

20

In [9]:
a = 5
a *= 2
a

10

In [73]:
a = 15
a /= 3
a

5.0

In [74]:
a = 10
a //= 3
a

3

In [75]:
a = 10
a = a//3
a

3

In [76]:
a = 5
a **= 2
a

25

In [79]:
a = 10
a %= 4
a

2

## logical Operators - Used to check 2 conditions on the same line

1. and - To get a output as True both the conditions as true else the output is false.
2. or 
3. not

- The output of logical operators will always be a boolean.

In [80]:
10 > 5 and 10 < 5

False

In [81]:
10 > 5 and 20 > 10

True

In [82]:
10 > 5 or 10 < 5

True

In [84]:
10 < 5 or 30 > 100

False

In [85]:
not 10 > 5

False

In [86]:
a, b, c = 10, 20, 30
print(a)
print(b)
print(c)

10
20
30

In [87]:
a =10
b =20
c =30
print(a)
print(b)
print(c)

10
20
30

## Membership Operators

1. in
2. not in 

- The output will always be a boolean

In [88]:
lst = [10, 20, 30, 40, 50]
print(lst)

[10, 20, 30, 40, 50]

In [89]:
30 in lst

True

In [90]:
75 in lst

False

In [91]:
'30' in lst

False

In [92]:
80 not in lst

True

In [93]:
20 not in lst

False

In [95]:
20 not in lst

False

In [97]:
s = 'hello'
print(s)

hello

In [100]:
e in s

NameError: name 'e' is not defined

In [99]:
'e' in s

True

In [101]:
'z' not in s

True

In [102]:
tup = (90, 45, 32, 47)
print(tup)

(90, 45, 32, 47)

In [103]:
45 in tup

True

In [104]:
99 in tup

False

## Identity operators

1. is
2. is not 

- The output will always be a boolean

In [111]:
a = 10 
b = 10
a is b

True

In [112]:
lst1 = [1,2,3,4]
lst2 = [3,4,5,6]
lst1 is lst2

False

In [113]:
lst1 is not lst2

True

In [114]:
lst1 is not lst2

True

In [115]:
c = 10
d = 20
c is d

False

 ## Bitwise Operators 
 
 1. & (AND)
 2. | (OR)
 3. ~ (NOT)
 4. ^ (XOR)

In [116]:
a = 10 
b = 4
 
a & b

0

In [117]:
a | b

14