## Functions

In [1]:
print('Hello')

Hello

In [2]:
def add(x, y):
    return x + y

In [3]:
add(3,4)

7

## Functions :
- 2 types
- In built like print(), len(), type(), etc.
- User defined functions : the one defined by the user

## Syntax of functions

def function_name(optional paramaters):
    statement 1
    statement 2
    statement 3
    .
    .
    .
    return data

- Both defining and calling the function are necessary to get an output.
- return of the function is optional

In [4]:
## Defining the function

def Upper(s):
    up_s = s.upper()
    return up_s

In [5]:
## Calling the function

Upper('python')

'PYTHON'

## Global and local variables

- Global variables : variables written outside the user defined functions
- local variables : variables written inside the user defined function(The validity of these variables is only limited to the funciton block)

In [6]:
x = 20
y = 25

def add():
    x = 40
    y = 60
    return x + y

print(x)

20

In [7]:
print(y)

25

## Converting a local variable to a global variable

- Using the global keyword inside the function, we are converting a local variable into a global variable

In [34]:
v = 30

def add():
    global c
    global n
    c = 50
    n = 45
    return c + n

print(v)

In [26]:
print(v)

30

In [27]:
print(c)

NameError: name 'c' is not defined

In [36]:
add()

95

In [32]:
print(c)

50

In [37]:
print(n)

45

- Global variables can be accessed anywhere in the program even inside the function
- Local variables cannot be accessed anywhere. They can be accessed inside the function only.

In [38]:
i = 10
def mult():
    j = 5
    return i * j

print(mult())

50

In [39]:
i = 10
def mult():
    j = 5
    return i * j
print(mult())

50

In [40]:
print(i)

10

In [41]:
print(j)

NameError: name 'j' is not defined

In [42]:
i = 10
def mult():
    global j
    j = 5
    return i * j
print(mult())

50

In [43]:
print(i)

10

In [44]:
print(j)

5

## Anonymous Functions:(lambda functions)

In [47]:
## user defined function

def up(s):
    return s.upper()

print(up('hello'))

HELLO

In [48]:
a = 25
def tot():
    x = a + 50
    return x
print(tot())

75

## Syntax of lambda function

lambda arguements : expression

- Useful for writing single line functions.
- When the user defined function is very small, use lambda functions instead of user defined functions

In [49]:
x = lambda a : a + 50
print(x(25))

75

In [50]:
y = lambda z : z.upper()
print(y('hello'))

HELLO

In [51]:
x = lambda number : number + 500
print(x(200))

700

In [52]:
def my_function():
    print('This is my function')

In [53]:
my_function()

This is my function

In [54]:
def my_function():
    test = 1
    print('This is my function')
    
test = 0
my_function()

This is my function

In [55]:
print(test)

0

In [56]:
def my_function(name):
    print('this is my name', name)
    
my_function('Sam')

this is my name Sam

In [57]:
def add(c,d):
    return c + d

add(5, 6)

11

## Positional Arguements

In [58]:
def func(a,b,c):
    print(a,b,c)
    
func(10, 20, 30)

10 20 30

In [60]:
def func(a,b,c):
    print(a,b,c)
    
func(30, 10, 20)

30 10 20

## Keywords Arguements

In [59]:
def func(a, b, c):
    print(a, b, c)

func(c= 10, a = 4, b = 5)

4 5 10

In [61]:
def func(a, b, c):
    print(a, b, c)

func(b= 5, a = 4, c = 10)

4 5 10

## Variable Positional Arguements

In [69]:
def func(a,b,c):
    print(a,b,c)
    
func(10, 20, 30, 40)

TypeError: func() takes 3 positional arguments but 4 were given

In [63]:
def calc_sum(*num):
    total = 0
    for i in num:
        total = total + i
    print(total)

calc_sum(4, 5)

9

In [64]:
calc_sum(3,4,5)

12

In [65]:
calc_sum(3, 5, 8, 10, 12, 15, 20)

73

In [75]:
def minimum(*n):
    if n:
        mn = n[0]
        for value in n[1:]:
            if value < mn:
                mn = value
        print(mn)
minimum(1,-6,-7,9)

-7