name_of_string[start:end:step]

- If step not mentioned then step is always 1.
- end index is always exclusive.
- With positive step index, start cannot be a higher index and end cannot be a lower index. If you give higher index as start and end as lower index then you will get null string.

In [1]:
s = 'Madagascar'

s[4]

'g'

In [2]:
s[4:7]

'gas'

In [3]:
s[4:7:1]

'gas'

In [4]:
s[0:8:2]

'Mdgs'

In [5]:
s[0:8:1]

'Madagasc'

In [6]:
s[3:9:2]

'aac'

In [7]:
s[7:1:1]

''

In [8]:
s[7:1:-1]

'csagad'

In [9]:
s[7:1]

''

In [10]:
s[7:1]  # here by default the step index is 1.

''

In [11]:
s[7:1:-1]

'csagad'

In [12]:
s[::-1]

'racsagadaM'

In [15]:
lst = [1,2,3,4]
print(lst)

[1, 2, 3, 4]

In [16]:
del lst[2]
print(lst)

[1, 2, 4]

In [17]:
del lst
print(lst)

NameError: name 'lst' is not defined

## Tuples

In [18]:
lst = [1,2,3,4]
print(lst)

[1, 2, 3, 4]

In [19]:
tup = (1,2,3,4)
print(tup)

(1, 2, 3, 4)

In [20]:
type(tup)

tuple

In [21]:
lst[2]

3

In [22]:
lst[2] = 25
print(lst)

[1, 2, 25, 4]

In [23]:
tup[2]

3

In [24]:
tup[2] =25

TypeError: 'tuple' object does not support item assignment

In [25]:
tup = (10, 20, 30, 40)
print(tup)

(10, 20, 30, 40)

## Tuple Indexing

In [26]:
tup[1]

20

In [27]:
tup[-2]

30

In [28]:
lst = [100 , 200, 300, 400, 500]
print(lst)

[100, 200, 300, 400, 500]

In [29]:
lst[2] = 25000
print(lst)

[100, 200, 25000, 400, 500]

In [30]:
print(tup)

(10, 20, 30, 40)

In [31]:
tup[1] = 150
print(tup)

TypeError: 'tuple' object does not support item assignment

## tuple slicing

In [32]:
tup = (100, 150, 200, 125, 325, 450, 500, 725)
print(tup)

(100, 150, 200, 125, 325, 450, 500, 725)

In [34]:
tup[4]

325

In [35]:
tup[6]

500

In [37]:
tup[2:7]

(200, 125, 325, 450, 500)

In [38]:
print(tup)

(100, 150, 200, 125, 325, 450, 500, 725)

In [39]:
tup.insert(2, 25000)

AttributeError: 'tuple' object has no attribute 'insert'

In [40]:
del tup[2]
print(tup)

TypeError: 'tuple' object doesn't support item deletion

In [41]:
del tup
print(tup)

NameError: name 'tup' is not defined

In [44]:
a = 10
print(a)

10

In [45]:
del a
print(a)

NameError: name 'a' is not defined

## Tuple methods

In [46]:
tup = ('anil', 100, 'chris', 200, 'apple', 25.25)
print(tup)

('anil', 100, 'chris', 200, 'apple', 25.25)

In [47]:
len(tup)

6

In [48]:
tup.index('chris')

2

In [49]:
tup.index(200)

3

In [50]:
tup1 = (10, 20, 20, 30 ,20, 45, 20)
print(tup1)

(10, 20, 20, 30, 20, 45, 20)

In [58]:
tup1.index(20)

1

In [52]:
tup1.count(20)

4

In [53]:
fruits = ('apple', 'banana', 'cherry')
print(fruits)

('apple', 'banana', 'cherry')

In [55]:
type(fruits)

tuple

In [56]:
len(fruits)

3

In [57]:
print(fruits[1])

banana

In [60]:
tup1 = (1,2,3)
tup2 = (4,5,6)

tup1 + tup2

(1, 2, 3, 4, 5, 6)

In [61]:
tup1 * 5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [62]:
print(fruits)

('apple', 'banana', 'cherry')

In [64]:
fruits.len()

AttributeError: 'tuple' object has no attribute 'len'

In [65]:
len(fruits)

3

## Dictionary

- has to be mentioned in curly brackets({})
- the data inside a dictionary is present in this format - {key1 : value1, key2 : value2, key3 : value3, ......}
- keys of the dictionary has to be unique(cannot repeat more than once) but values can repeat.

In [66]:
d = {'name' : 'anant', 'age' : 25, 'height': 100}
print(d)

{'name': 'anant', 'age': 25, 'height': 100}

In [67]:
type(d)

dict

In [73]:
d1 = {'name' : 'anant', 'age' : 35, 'name' : 'arya', 'name' : 'sunil', 'age' : 45}
print(d1)

{'name': 'sunil', 'age': 45}

In [75]:
d2 = {'name1' : 'anant', 'age1' : 35, 'name2' : 'anant', 'age2' : 35, 'name3': 'anant', 'age3' : 35}
print(d2)

{'name1': 'anant', 'age1': 35, 'name2': 'anant', 'age2': 35, 'name3': 'anant', 'age3': 35}

In [77]:
d = {'name' : 'anant', 'age' : 25, 'height': 100, 'gender' : 'M', 'weight' : 56, 'marks' : 85}
print(d)

{'name': 'anant', 'age': 25, 'height': 100, 'gender': 'M', 'weight': 56, 'marks': 85}

## Dictionary Indexing

In [78]:
d['weight']

56

In [79]:
d['age']

25

In [80]:
d[25]

KeyError: 25

In [81]:
d['gender']

'M'

## Dictionary mutability

In [82]:
d['gender'] = 'F'
print(d)

{'name': 'anant', 'age': 25, 'height': 100, 'gender': 'F', 'weight': 56, 'marks': 85}

In [83]:
d['marks'] = 95
print(d)

{'name': 'anant', 'age': 25, 'height': 100, 'gender': 'F', 'weight': 56, 'marks': 95}

In [84]:
len(d)

6