## Exception handling in python

In [2]:
a = int(input())
print(a)
print('This input is expecting a numerical data')

anant

ValueError: invalid literal for int() with base 10: 'anant'

In [8]:
a = int(input('Enter a: '))
b = int(input('Enter b: '))
print(a/b)
print('a = ', a)
print('b = ', b)
print(a*b)

Enter a: 10
Enter b: 0

ZeroDivisionError: division by zero

## try and except block in python

try:
    statement 1
    statement 2
    statement 3
    .
    .
    .
except:
    statement 1
    statement 2
    statement 3
    .
    .
    .

- When there is no error in try block the except block does not get executed. 
- The execution of except happens only when there is an error in the try block.

In [9]:
try:
    a = int(input())
    print(a)
    print('This input accepts only numerical data')
except:
    print('You have entered a string data. You should enter a numerical data')

10
10
This input accepts only numerical data

In [11]:
try:
    a = int(input())
    print(a)
    print('This input accepts only numerical data')
except:
    print('You have entered a string data. You should enter a numerical data')

print('This line will get executed even if the user is entering a string data')
print('a*2')

anant
You have entered a string data. You should enter a numerical data
This line will get executed even if the user is entering a string data
a*2

## try except else block

try - except and else block:

try:
    statement 1
    statement 2
    statement 3
    .
    .
    .
except:
    statement 1
    statement 2
    statement 3
    .
    .
    .
else:
    statement 1
    statement 2
    statement 3
    .
    .
    .

In [12]:
## Write a program to divide and multiply 2 numbers

In [14]:
try:
    a = int(input())
    b = int(input())
    print('The try gets executed if there is no error in try block')
    print(a/b)
except:
    print('This is a zero division error')
else:
    print('The else block gets executed if there is no error in try block')
    print(a*b)

20
10
The try gets executed if there is no error in try block
2.0
The else block gets executed if there is no error in try block
200

In [15]:
try:
    a = int(input())
    b = int(input())
    print('The try gets executed if there is no error in try block')
    print(a/b)
except:
    print('This is a zero division error')
else:
    print('The else block gets executed if there is no error in try block')
    print(a*b)

10
0
The try gets executed if there is no error in try block
This is a zero division error

## Catching multiple error using except

In [16]:
try:
    a = int(input())
    b = int(input())
    print('The try gets executed if there is no error in try block')
    print(a/b)
except ZeroDivisionError:
    print('This is a zero division error')
except ValueError:
    print('The value entered is a string value')

ananr
The value entered is a string value

In [17]:
try:
    a = int(input())
    b = int(input())
    print('The try gets executed if there is no error in try block')
    print(a/b)
except ZeroDivisionError:
    print('This is a zero division error')
except ValueError:
    print('The value entered is a string value')

10
0
The try gets executed if there is no error in try block
This is a zero division error

## Try except else finally block

Syntax:

try - except - else - finally block:

try:
    statement 1
    statement 2
    statement 3
    .
    .
    .
except:
    statement 1
    statement 2
    statement 3
    .
    .
    .
else:
    statement 1
    statement 2
    statement 3
    .
    .
    .
finally:
    statement 1
    statement 2
    statement 3
    .
    .
    .

In [19]:
## Write a program to divide and multiply 2 numbers

try:
    a = int(input())
    b = int(input())
    print('The try gets executed if there is no error in try block')
    print(a/b)
except:
    print('This is a zero division error')
else:
    print('The else block gets executed if there is no error in try block')
    print(a*b)

10
0
The try gets executed if there is no error in try block
This is a zero division error

In [25]:
## Write a program to divide and multiply 2 numbers

try:
    c = int(input())
    d = int(input())
    print(a/b)
    print('The try gets executed if there is no error in try block')
except ZeroDivisionError:
    print('This is a zero division error')
except ValueError:
    print('Enter a number data')
else:
    print('The else block gets executed if there is no error in try block')
finally:
    print(c*d)
    print('This will always get executed')

anant
Enter a number data

NameError: name 'c' is not defined

## Arguement of an exception

In [27]:
try:
    a = int(input())
    print(a)
except ValueError as v:
    print('String Data Entered. Numerical data expected')

anant
String Data Entered. Numerical data expected

## Raising an exception

- Using raise Keyword, we can raise our own exceptions

In [30]:
age = int(input())

if age < 0 and age > 100:
    raise Exception('Sorry, The value of age cannot be less than zero or greater than 100')
    
print(age)

50
50

In [32]:
age = int(input())

if age < 0 or age > 100:
    raise Exception('Sorry, The value of age cannot be less than zero or greater than 100')
    
print(age)

150

Exception: Sorry, The value of age cannot be less than zero or greater than 100

In [33]:
a = 10 
b = 0
print(a/b)
raise Exception

ZeroDivisionError: division by zero

## Classes and objects
- Class is a prototype
- object is an instance of a class

In [34]:
## Creating a class
class MyClass:
    x = 5         ### Member of MyClass class

In [35]:
## Creating an object
p1 = MyClass()

In [37]:
print(p1.x)     ### Accessing the members of the class

5

In [44]:
## Creating a person class
class person:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

### Creating a person object
p1 = person('Sam', 36, "M")
p2 = person('Anil', 25, 'F')

In [39]:
p1.name

'Sam'

In [40]:
p1.age

36

In [43]:
p1.gender

'M'

In [45]:
p2.name

'Anil'

In [46]:
p2.gender

'F'

In [49]:
p2.qualification

AttributeError: 'person' object has no attribute 'qualification'

In [47]:
'1' == 1

False

In [48]:
lst = [1,2,3]
lst.upper()

AttributeError: 'list' object has no attribute 'upper'

In [50]:
## Creating a person class
class person:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

### Creating a person object
p1 = person('Sam', 36, "M")

In [51]:
p1.name

'Sam'

In [53]:
## getattr - get atrribute
getattr(p1, 'name')

'Sam'

In [54]:
getattr(p1, 'age')

36

In [56]:
hasattr(p1, 'name')

True

In [57]:
hasattr(p1, 'qualification')

False

In [58]:
setattr(p1, 'age', 46)

In [59]:
p1.age

46

In [60]:
getattr(p1, 'age')

46

In [61]:
delattr(p1, 'gender')

In [63]:
getattr(p1, 'gender')

AttributeError: 'person' object has no attribute 'gender'

In [65]:
## person is a class. we are using built function on a class

person.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.person.__init__(self, name, age, gender)>,
              '__dict__': <attribute '__dict__' of 'person' objects>,
              '__weakref__': <attribute '__weakref__' of 'person' objects>,
              '__doc__': None})

In [66]:
p1.__dict__  ## p1 ia an object

{'name': 'Sam', 'age': 46}

In [67]:
person.__module__

'__main__'

In [68]:
person.__doc__

In [69]:
## Creating a person class
class person:
    'This is a person class with all the person characteristics'
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

### Creating a person object
p1 = person('Sam', 36, "M")

In [70]:
person.__doc__

'This is a person class with all the person characteristics'

In [74]:
person.__name__

'person'

In [75]:
person.__bases__

(object,)

In [76]:
a = 10

In [77]:
del a

In [78]:
print(a)

NameError: name 'a' is not defined